*{
    background-color: #100f12;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    max-width: 100%;
    

}

.logo{
    position: absolute;
    scale: 75%;
    max-width: 100vw;
    box-shadow: 0em 0em 1em 1em #100f12;
    height: auto;
    top: 1vw;
    margin-top: -4vw;
    text-align: center;
    margin-bottom: 50vw;
}
nav{
    background: #100f12;
    position: sticky;
    padding: 0em;
    top: 1vw;
    margin-bottom: 5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2vw;
    max-width: 100%;
    height: auto;
    text-align: center;
}
img{
    max-width: 100%;
    height: auto;
    
}
input[type=text], select, textarea {
    width: 100vw; /* Full width */
    padding: 1em; /* Some padding */ 
    border: 0.1em solid #f1f0ee; /* Gray border */
    background-color: #f1f0ee;
    border-radius: 0.1em; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 1em; /* Add a top margin */
    margin-bottom: 1em; /* Bottom margin */
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}
  
/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #04AA6D;
    color: #f1f0ee;
    padding: 1em 2em;
    border: none;
    border-radius: 0.1em;
    cursor: pointer;
}
  
input[type=submit]:hover {
    background-color: #45a049;
}
  
.container {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: larger;
    position: absolute;
    color: #f1f0ee;
    border-radius: 0.1em;
    background-color:#100f12;
    padding: 0.5vw;
    top: 32vw;
    max-width: 97.5vw;
    height: auto;
    margin-bottom: 1vw;
}
.country{
    color: #f1f0ee;
    background-color: #f1f0ee;
}
option{
    color: #f1f0ee;
}
.map{
    position: absolute;
    text-align: center;
    margin: 0;
    padding: 0.5vw;
    margin-top: 75vw;
}